.about {
}
.about-content {
  overflow: hidden;
}
.about-item {
  float: left;
  width: 30%;
  text-align: center;
  border: 1px solid #e8e8e8;
  padding: 50px 20px;
}

.about-item.mg {
  margin: 0 5%;
}
.about-item {
  color: var(--maincolor);
  margin-bottom: 10px;
}
.about-item-title {
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: color 0.5s;
}
.about-item-desc {
  line-height: 1.6;
  margin-bottom: 10px;
  color: var(--graycolor);
}
.about-item-link {
  color: var(--maincolor);
  text-transform: capitalize;
}
.about-item:hover {
  color: white;
}
