.testimonail {
  position: relative;
  background-image: url("../images/background/background3.webp");
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}
.testimonail-content {
  overflow: hidden;
  padding: 120px 0;
  color: var(--whitecolor);
  width: 80%;
  margin: auto;
}
.testimonail-item {
  width: 50%;
  float: left;
}
.testimonail-item .testimonail-toplayer {
  padding: 10px 2px 40px 90px;
  position: relative;
}
.testimonail-item .testimonail-toplayer img {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}
.testimonail-item .testimonail-toplayer h3 {
  margin: 5px 0;
}
.testimonail-item .testimonail-toplayer span {
  color: var(--maincolor);
}
.testimonail-desc {
  line-height: 1.5;
  font-size: 17px;
}
