.home {
  height: 100vh;
  background-image: url("../images/background/background1.webp");
  background-size: cover;
}
.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 65%;
}

.home .title {
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.home .home-desc {
  margin: 20px 0;
  color: white;
  letter-spacing: 2px;
  line-height: 1.5;
}
.home .btn {
  min-width: 160px;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.home .btn-start {
  margin-right: 10px;
  background: var(--whitecolor);
}
.home .btn-learn {
  background: var(--maincolor);
  color: var(--whitecolor);
}
