.offer-content {
  overflow: hidden;
}
.offer-item {
  float: left;
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  padding: 20px 15px 30px 70px;
  position: relative;
}
.offer-item.mg {
  margin: 0 5%;
}
.offer-item .icon {
  position: absolute;
  left: 15px;
  top: 30px;
  color: var(--maincolor);
}
.offer-item-title {
  text-transform: capitalize;
  margin-bottom: 15px;
  transition: color 0.5s;
}
.offer-item-desc {
  text-transform: capitalize;
  margin-bottom: 15px;
  line-height: 1.6;
  color: var(--graycolor);
}
.offer-item:hover .offer-item-title {
  color: var(--whitecolor);
}
