.portfolio-content {
  overflow: hidden;
}
.portfolio-item {
  width: 30%;
  float: left;
  margin-bottom: 60px;
  position: relative;
  padding: 10px;
}

.portfolio-item .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  visibility: hidden;
  opacity: 0;
}
.layer-content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.portfolio-item:hover .layer-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
.layer-content-title {
  font-size: 20px;
  color: var(--whitecolor);
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
  transition-delay: 0.3s;
}

.layer-content a i {
  line-height: 40px;
  background: var(--maincolor);
  display: inline-block;
  width: 40px;
  height: 40px;
}
.layer-content .category {
  color: var(--maincolor);
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  position: relative;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s;
  transition-delay: 0.3s;
  transition: 0.2s;
}
.layer-content a {
  display: inline-block;
  color: var(--whitecolor);
  width: 40px;
  height: 40px;
  background-color: var(--maincolor);
  position: relative;
  top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: top 0.5s;
  transition-delay: 0.3s;
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item.mg {
  margin: 0 5%;
}
