.service {
  background: var(--bg-gray);
}
.service-item {
  width: 50%;
  float: left;
}
.service-item .section-header .section-title {
  text-align: left;
}
.service-item .section-header .line {
  margin: 0 0 40px 0;
}
.service-item-desc {
  line-height: 1.6;
  padding-right: 20px;
  color: var(--graycolor);
  font-size: 18px;
  margin-bottom: 20px;
}
.service-list {
  list-style: none;
}
.service-list li {
  margin-bottom: 10px;
  color: var(--graycolor);
}
.service-list li i {
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
}
.service-item-img img {
  width: 100%;
}
.service-bollets {
  list-style: none;
  text-align: center;
}
.service-bollets li {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #e8e8e8;
  margin: 10px 5px;
  border-radius: 50%;
}
.service-bollets li.active {
  background-color: var(--maincolor);
}
